/* Etiquettes catégories */
.col-2 {
    display: flex;
    justify-content: center;
    height:12em;
}
.svg-col{
    height: 165px !important; 
    width:165px !important;
    background-color: #2d4059;
    color:white;
    border-radius: 15%;
}
/* cards avoir le choix chez prix marché */
.cardo img{

    width:100%;
    object-fit: cover;
}
/* texte card prix marché */
.card-text{
    color: #ea5455;
    text-align: center;
    padding-top:4%;
    font-weight:bold;
}