label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}

.container-describe h3 {
    color: #2D4059;
}

.container-carousel {
    margin-bottom: 15%;
}

.carousel-indicators button.thumbnail {
    width: 100px !important;
}

.carousel-indicators button.thumbnail:not(.active) {
    opacity: .7;
}

.carousel-indicators {
    position: static !important;
    justify-content: flex-start !important;
    margin: 0 !important;
}
.carousel-inner {
    padding: 20px;
    box-shadow: 0px 0px 19px rgb(0 0 0 / 7%);
}

.carousel-item {
    transition: 0s !important;
    translate: none !important;
    transform: none !important;
}

.container-product-details {
    display: block;
    margin-top: 5%;
    margin-bottom: 5%;
}

.container-describe {
    padding-top: 2%;
}

.list-follow {
    background: #FCFCFC;
    width: 55px;
    height: 49px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.container-button-describe input {
    margin-right: 5%;
    width: 100px;
}

.container-button-describe button {
    font-weight: 400;
    font-size: 15px;
    color: #E5E5E5;
    background: #EA5455;
    border-radius: 7px;
    padding: 11px 25px;
    display: block;
    margin-right: 5%;
}

.container-button-describe div {
    padding-top: 1rem;
}

@media screen and (min-width: 992px) {
    .container-button-describe {
        display: flex;
    }
    .container-button-describe div {
        padding-top: 0;
    }
}

@media screen and (min-width: 762px) {
    .container-product-details {
        display: flex;
    }
    .container-product-details {
        margin-bottom: 0;
    }
}