h3 {
  color: #ea5455;
}
/*Header*/
header {
  height: fit-content;
  background-color: #e5e5e5;
}

.slogan {
  font-size: 22px;
}

.sentence {
  font-size: 14px;
}

.bubbledNumber {
  background-color: #ea5455;
  color: #e5e5e5;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  font-weight: bold;
}

.headerTwo .bubbledNumber {
  background-color: #e5e5e5;
  color: #ea5455;
  width: 20px;
  height: 20px;
  font-size: smaller;
}

.headerTwo {
  height: fit-content;
  background-color: #2d4059;
}

.navigation .btn {
  font-weight: bold;
  background-color: #ea5455;
  color: #e5e5e5;
}

.navigation .btn:nth-child(1) {
  color: #2d4059;
  background-color: #e5e5e5;
}

nav ul {
  list-style: none;
}

nav .btn {
  color: #e5e5e5;
}

nav ul a {
  text-decoration: none;
  color: #e5e5e5;
}

nav ul a:hover {
  text-decoration: none;
  color: black;
}

/*Page Listing Product*/
.container-listing {
  margin-top: 5%;
  margin-bottom: 5%;
}
.filter1 {
  display: block;
}

.filter2 {
  display: block;
  margin: 5% 0;
}

.filter3 {
  width: 100%;
  margin-bottom: 5%;
}

.filter4 {
  width: auto !important;
  font-size: 20px;
  background-color: #ea5455 !important;
  color: white !important;
  font-weight: 200 !important;
  font-size: 16px !important;
}

.category {
  padding-right: 0;
  font-size: 20px;
  font-weight: 400;
}

.icon-category {
  font-size: 18px;
  padding-right: 6%;
}

.title-category {
  font-size: 25px;
  font-weight: 500;
  color: #000000;
}

.title-filter3 {
  font-size: 18px;
  font-weight: 400;
  color: #000000;
}

.card-container {
  box-shadow: 0px 0px 19px rgba(0, 0, 0, 0.1);
  border-radius: 6px !important;
  transform: rotate(-0.33deg);
  background: #fcfcfc;
  border: 0 !important;
  padding: 35px !important;
  margin-bottom: 2rem;
}

.container-icon1 {
  margin-right: 10px;
}

.container-icon2 {
  padding-left: 20px;
}

.img-all-items {
  padding: 35px;
}

.img-frst-items {
  width: 100% !important;
}

.card-first-items {
  text-align: center;
}

.form-check-input {
  border: 5px solid #727272 !important;
}

.form-check-input:checked[type="radio"] {
  background: #ea5455 !important;
  border-color: transparent;
  box-shadow: none;
  border: none !important;
}

.form-check-input:focus {
  border-color: transparent !important;
  box-shadow: none !important;
}

.form-check .form-check-input:checked[type="radio"] + .form-check-label {
  color: #ea5455 !important;
}

.text-success-stock {
  color: #42cc58;
}

.price-and-status {
  display: block;
  text-align: center;
}

.card-title {
  text-align: center;
}

.link-product {
  text-decoration: none;
  color: #2D4059;
}

.link-product:hover {
  color: #2D4059;
}

@media screen and (min-width: 992px) {
  .filter1 {
    display: flex;
  }

  .filter2 {
    display: flex;
    margin: 0 auto;
  }

  .filter3 {
    margin: 0 auto;
  }

  .category {
    padding-right: 10%;
  }

  .card-first {
    margin-bottom: 6%;
  }

  .link {
    text-decoration: none;
    padding: 10px;
  }
  .col-2 {
    background-color: #2d4059;
    border-radius: 5%;
    display: flex;
  }
  .card-title {
    text-align: left;
  }
  .price-and-status {
    display: flex;
    justify-content: space-between;
  }
  .card-container {
    margin-bottom: 0 !important;
  }
}

@media screen and (min-width: 768px) {
  .img-frst-items {
    width: 25% !important;
  }

  .card-first-items {
    text-align: initial;
  }
}